body {
    text-align: center;
}
#home {
    background-image: url(images/peter-drew-L0TtxTPYEqg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    height: 1000px;
    opacity: 0.9;
    
    
}
#title {
    color: white;
    font-size: 300%;
    margin-bottom: 25%;
    
}
#contents {
    text-align: left;
    margin-left: 25%;
    font-size: 40px;
    color: white;
}
#contents input {
    margin-bottom: 5%;
    width: 60px;
    height: 20px;
}
#return {
    text-align: center;
  }
#return input {
    padding: 15px;
    width: 100px;
    margin-top: 20px;
    font-size: larger;
    background-color: #999923;
    color: white;
}