#title{
    font-size: 250%;
    color: #999923;
    text-align: center;
}
#header{
    position: inline;
}
#account {
    position: absolute;
    top: 8px;
    right: 16px;
}
#image {
    background-image: url(images/richard-brutyo-HQXFhq8FNJ8-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    position: relative;
    height: 400px;
}
.container {
    display: flex;
    background-color:white;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    
  }
  
.block1{
    width: 50%;
    height: 100px;
    background-color: #999923;
    text-align: center;
    margin: 5%;
    width: 500px;
    height: 350px;
    color: white;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(images/confederation-park-golf-course-L-5.jpg.crdownload);
  }
  .block2{
    width: 50%;
    height: 100px;
    background-color: #999923;
    text-align: center;
    margin: 5%;
    width: 500px;
    height: 350px;
    color: white;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(images/lakeview-golf-course-L-5.jpg);
  }
  .block3{
    width: 50%;
    height: 100px;
    background-color: #999923;
    text-align: center;
    margin: 5%;
    width: 500px;
    height: 350px;
    color: white;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(images/maple-ridge-19.jpg);
  }
  .block4{
    width: 50%;
    height: 100px;
    background-color: #999923;
    text-align: center;
    margin: 5%;
    width: 500px;
    height: 350px;
    color: white;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(images/mccall-lake-golf-course-L-4.jpg.crdownload);
  }
  .block5{
    width: 50%;
    height: 100px;
    background-color: #999923;
    text-align: center;
    margin: 5%;
    width: 500px;
    height: 350px;
    color: white;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(images/shag.jpg);
  }
  .block h2{
    margin-top: 20%;
    font-size: 40px;
  }
  .text {
   margin-right: 15%;
   margin-left: 15%;
   font-size: xx-large;
   text-align: center;
  }
  .text h2 {
    color: #999923;
  }
  #return {
    text-align: center;
  }
  #return input {
    padding: 15px;
    width: 100px;
    margin-top: 20px;
    font-size: larger;
    background-color: #999923;
    color: white;
  }