#title{
    font-size: 250%;
    color: #999923;
    text-align: center;
}
#header{
    position: inline;
}
#account {
    position: absolute;
    top: 8px;
    right: 16px;
}
#image {
    background-image: url(images/richard-brutyo-HQXFhq8FNJ8-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    position: relative;
    height: 400px;
}
.container {
    margin-top: 10px;
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Vertically center the items */
    justify-content: center; /* Horizontally center the items */
    border: 1px solid black; /* Add a border to the container */
    padding: 5px; /* Add some padding to the container */
  }
  
  .container img {
    max-width: 100%; /* Make sure the image does not exceed the container width */
    margin-right: 15%; /* Add some spacing between the image and text */
  }
  
  .container p {
    margin: 0; /* Remove any default margin on the paragraph element */
  }
  #return {
    text-align: center;
  }
  #return input {
    padding: 15px;
    width: 100px;
    margin-top: 20px;
    font-size: larger;
    background-color: #999923;
    color: white;
  }