#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

body {
    text-align: center;
}
#home {
    background-image: url(images/andrew-shelley-Yu6Z_Fia1Ls-uns.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    height: 1000px;
    opacity: 0.9;
}
#title {
    color: #999923;
    font-size: 400%;
    margin-bottom: 25%;
}
#contents input {
    width: 500px;
    height: 40px;
    padding: 0 20px;
}
#contents input,
input::-webkit-input-placeholder {
    font: 25px/3 sans-serfif;
}
#contents {
    margin-bottom: 5%;
}
#forgotPass, #Register{
    padding: 10px;
}
#SignIn input {
    height: 40px;
    width: 100px;
    font-size: 150%;
    text-align: center;
    background-color: #999923;
    color: white;
    margin-bottom: 5%;
}
#SignIn {
    margin-top: 30px;
}
button {
    padding: 5px;
    width: 100px;
    font-size: 150%;
}